# Database
DATABASE_URL="your-database-url-here"
POSTGRES_URL="your-postgres-url-here"

# Other environment variables
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"

#pnpm dev